.bouton {
	background-color: #313fa6;
	color: white;
	font-weight: bold;
	font: "Arial";
	width: 100%;
	text-align: left;
	position: relative;
	font-size: 25px;
	border-radius: 5px;
	padding: 3px 7px 3px 7px;
}

.bouton::after {
	content: " ▼";
	position: absolute;
	right: 0%;
}

.ExoCentre {
	margin: auto;
	width: 400px;
	padding: 10px;
}

#ExoCentre2 {
	margin: auto;
	width: 700px;
	padding: 10px;
}

#titre {
	text-align: center;
	right: 0%;
}

.container2 {
	border-radius: 50px;
	width: 80%;
	height: 600px;
	background-color: white;
	padding: 35px 15px 5px;
	margin: 10%;
	margin-top: 5%;
}

.tete2 {
	background-color: #d7f9ff;
	width: 100%;
	height: 800px;
	padding: 35px 15px 5px;
	margin-top: 0%;
}

.tete2:after {
	content: "";
	display: table;
	clear: both;
}

.Term1 {
	background-color: #366aeb;
	border-radius: 10px;
	font-family: Arial;
	color: #ffffff;
	font-size: 15px;
	padding: 3px 7px 3px 7px;
	text-decoration: none;
}

.Term1:hover {
	background: #1e366d;
	text-decoration: none;
}

.LiExo {
	list-style: square;
	font-size: 15px;
}

.Titre2 {
	text-align: center;
	font-size: 40px;
}
