.btnacc {
  border: 10px outset red;
  background-color: #1e366d;
  height: 300px;
  width: 300px;
  margin-left: 100px;

  cursor: pointer;
}

.Divaccueil {
  text-align: center;
}

p {
  text-align: center;
}
