img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 80%;
  height: 100px;
  margin-left: 13px;
  margin-right: 13px;
}

.container {
  border-radius: 50px;
  width: 80%;
  height: 600px;
  background-color: white;
  padding: 35px 15px 5px;
  margin: 10%;
  margin-top: 2%;
}
.container:before,
.container:after {
  content: "";
  display: table;
  clear: both;
}
.container div {
  float: left;
  width: 200px;
  height: 200px;
  text-align: center;
}

.informatique {
  background-color: #white;
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid #309ea144;
  margin-bottom: 10px;
  margin-top: 10px;
}

.oui {
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  color: black;
  font-weight: bold;
}
.non {
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}

.tete {
  background-color: #309ea144;
  width: 100%;
  height: 800px;
  padding: 35px 15px 5px;
  margin-top: 0%;
}

.recherche {
  margin-left: 25%;
  margin-top: 2%;
}

background-color: #1e366d;

.btnmag {
  position: relative;
  margin-left: 5%;
  width: 30%;
}
.btnmaz {
  margin-left: 5%;
  width: 30%;
  background-color: #366aeb;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 3px 7px 3px 7px;
  text-decoration: none;
}
.btnmaf {
  background-color: #366aeb;
  width: 30%;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 3px 7px 3px 7px;
  text-decoration: none;
}

.btnmar {
  font-size: 20px;
  background-color: #366aeb;
  font-family: Arial;
  color: #ffffff;
}

.inputr {
  font-size: 20px;
  width: 57%;
}

.recherche1 {
  margin-left: center;
  margin-top: 2%;
}

.btnC {
  font-size: 15px;
  background-color: #366aeb;
  font-family: Arial;
  color: #ffffff;
  float: right;
}
span {
  color: black;
  font-weight: bold;
  float: right;
}
