Table {
	border: 1px solid black; /* auront une bordure de 1px */
}

td {
	border: 1px solid black; /* auront une bordure de 1px */
}

.container1 {
	border-radius: 50px;
	width: 61%;
	height: 500px;
	background-color: white;
	padding: 35px 15px 5px;
	margin: 10%;
	margin-top: 2%;
}
.container1:before,
.tete1 {
	background-color: #d7f9ff;
	width: 100%;
	height: 800px;
	padding: 35px 15px 5px;
	margin-top: 0%;
}

.tete1:after {
	content: "";
	display: table;
	clear: both;
}

.bouton1 {
	background-color: #313fa6;
	color: white;
	font-weight: bold;
	font: "Arial";
	width: 100%;
	text-align: left;
	position: relative;
	font-size: 25px;
	border-radius: 5px;
	padding: 3px 7px 3px 7px;
}

.bouton1::after {
	content: " ▼";
	position: absolute;
	right: 0%;
}

.formulaire {
	text-align: left;
}

table {
	margin: auto;
}
